<div class="my-5 px-5">
    <div class="text-center">
        <img class="hacker-img" alt="Hackerrank Logo" src="../../assets/imgs/hackerrank.png">
    </div>

    <div class="text-center">
        <div class="container padding-5">
            <div class="row">
                <div class="col" (click)="problemSolving()">
                    <div class="hacker-rank-card">
                        <h6 class="menu-title">Problem Solving</h6>
                    </div>
                </div>
                <div class="col" (click)="interviewPrep()">
                    <div class="hacker-rank-card">
                        <h6 class="menu-title">Interview Preparation Kit</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="form-row">
        <div class="col text-center">
            <button id=btnPTBack type="submit" class="btn btn-success btn-lg w-25 mx-auto"
                (click)="goBack()">Back</button>
        </div>
    </div>
</div>