<div class="my-5 px-5">
    <div class="text-center">
        <img class="hacker-img" alt="Hackerrank Logo" src="../../assets/imgs/hackerrank.png">
    </div>

    <div class="text-center">
        <ul>
            <li>
                <h2 class="hacker-rank-links" (click)="problemSolving()">Problem Solving</h2>
            </li>
            <li>
                <h2 class="hacker-rank-links" (click)="interviewPrep()">Interview Preparation Kit</h2>
            </li>
        </ul>
    </div>

    <hr>
    <div class="form-row">
        <div class="col text-center">
            <button id=btnPTBack type="submit" class="btn btn-danger btn-lg w-25 mx-auto"
                (click)="goBack()">Back</button>
        </div>
    </div>
</div>