//HOME Page
.home-links{
    color: #139FA1;
}
.home-links:hover{
    color: #12F3F7;
}

//HackerRank Home
.hacker-img{
    width: 400px;
}
.hacker-rank-links{
    color: #2BBE5E;
}
.hacker-rank-links:hover{
    color: #00FF5A;
}